@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Show the Book Collection here
        @Html.ActionLink("Add new Book", "AddBook");
    </div>
</body>
</html>
